.dat3:hover {

    background-color: #0b23db;
    color: white;
    text-decoration: none;
    transition: 1s;
    transform: scale(1.1);
}

.dat3{
    color: #0b23db;
    text-decoration: none;
    background-color: white;
    padding : 10px;
    margin-right: 60px;
    font-family: impact;
}